.progress-container {
  background-color: gray;
  height: 24px;
  position: relative;
  width: 200px;
}

.progress-bar {
  background-color: green;
  height: 100%;
  width: 0%;
}

.progress-text {
  bottom: 0;
  font-size: 12pt;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
