.app {
  text-align: center;
}

.app-container {
  align-items: center;
  color: #fff;
  background-color: #282c34;
  display: flex;
  font-size: calc(10px + 2vmin);
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 20px;
  min-height: 100vh;
  overflow: hidden;
}